.main-about-short {
	background-color: #f2f2f2;
    padding-top: 2em;
    padding-bottom: 2em;
	
	&-wrapper {
		@include set-vw;
		display: flex;	
		justify-content: stretch; 
		
		padding-top: 2em;		
	
	}
	&-left {		
		width: 50vw;
		padding-top: 1em;
		padding-right: 2em;
		position: relative;
		text-align: left;
	
	}
	&-right {				
		width: 50vw;					
		height: 25em;
				
		background-image: url('../img/iPhone 5.png');
		background-position: left top;
				
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 10;
	
	}
}