.contact {
	background-color: #ededed;
	text-align: center;
	padding-top: 3.75em;	
	margin: 0 auto;
  
	&-table {
		display: flex;
		align-items: stretch;
		
		padding-top: 2.5em;
		justify-content: center;
		margin-bottom: 1em;
		&-col {
	
			width: 25vw;
			padding-left: 6em;
			padding-right: 6em;
			align-items: stretch;
			height: 100%;
            
             @include set-mediaquery-size($tablet-landscape){
                width: 90%;
                padding-left: 2em;
			    padding-right: 2em;
                        
            }
		}
	}
	
    
    &-wrapper {			
			width: 50%;
			margin: 0 auto;
			background-color: $bg-black;
			
			display: flex;
			flex-direction: column;			
			
			padding-left: auto;
			padding-right: auto;
			
        
            @include set-mediaquery-size($tablet-landscape){
                    width: 90%;
                }
		
        &-form {		
            width: 100%;
            min-height: 35vh;
            padding: 2.5em;
            //z-index: 1000;	
            


            &-row {
                display: flex;
                flex-direction: row;		
                width: 100%;	

                justify-content: flex-end;
                margin-bottom: 1em;

                @include set-mediaquery-size($tablet-landscape){
                    flex-direction: column;
                }

              &-left {									
                     width: 45%;
                     flex-direction: row;	
                  
                    @include set-mediaquery-size($tablet-landscape){
                        width: 100%;
                        
                    }

                    input {
                        padding: 0.5em;
                        margin: 0.2em;
                        height: 3.125em;
                        width: 98%;
                        border-radius: 5px;
                        border: 1px solid rgba(255,255,255,0.2);
                        background-color: $bg-black;
                        text-transform: uppercase;
                        color: white;
                    }		          			
                }

                &-right {				
                    flex-direction: row;			
                    width: 45%;
                    flex: 1;
                    
                    @include set-mediaquery-size($tablet-landscape){
                        width: 100%;
                        
                    }

                    textarea {
                        flex: 1; 
                        width: 98%;	
                        height: 97%;
                        margin: 0.2em;
                        border-radius: 5px;
                        border: 1px solid rgba(255,255,255,0.2);
                        font-family: inherit;
                        background-color: $bg-black;
                        text-transform: uppercase;
                        padding: 0.5em;
                        color: white;
                    }

                    .btn {

                        margin: 1em;
                  }
                }

            }

            &::-webkit-input-placeholder { 
              color: white;
            }
            ::-moz-placeholder {    
              color: white;
            }
            :-ms-input-placeholder { 
              color: white;
            }
            :-moz-placeholder { 
              color: white;
            }

        }
    }
	&-map {	
		min-height: 25em;
		background-color: #666;				
       
                
	}
}