.main-features {
	&-info {
//		width: 570px;
//		height: 152px;
		font-size: 0.875em;
		letter-spacing: 1px;
		line-height: 48px;
		color: $blue;
		font-family: "Source Sans Pro";
		font-weight: 700;
		text-align: center;
	}
}