/*
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
*/
.footer {
	background-color: $bg-black;
	min-height: 10em;
	text-align: center;
	text-transform: uppercase;
	color: #444348;
	font-weight: 700;
	font-size: 0.875em;
	padding-top: 3em;
	
	&-social-icons {
		
		li {
			display: inline;
			padding-right: 2em;
			
			
			.svg-icon {
				width: 1.2em;
				height: 1.2em;
				fill: #444348;
				
				&:hover {
					fill: #337ab7;
				}
				
			}
			
		}
		
	}
	
	p {
		color: inherit;
	}
	
	
}