.header{
	font-size: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 36em;
	color: white;	
	
	background: linear-gradient(-45deg, rgba(22,21,26,1) 0%, rgba(0,0,0,1) 100%);		
	
	&::after {
		content: '';
		background-image: url('../img/photo.png');
		background-position: center center;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;


		background-attachment: fixed;
		opacity: 0.4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 1;  

		
	}
	
	/*
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;		
		background: rgb(22,21,26);
		background: linear-gradient(-45deg, rgba(22,21,26,1) 0%, rgba(0,0,0,1) 100%);		
		
	}
	*/
	
	.header-top {
		@include set-vw;
		
		z-index: 100;
		height: 5em;
		display: flex;
		align-items: center;
		justify-content: center;		
		//left: 0;
		//top: 0;
		
		
		.header-top-logo {			
			flex-grow: 1;
			
		}
		
		&-nav {			
			//justify-content: flex-start; // or flex-end
			//flex-grow: 0.5;
			//align-items: center;
			///align-content: flex-start;
			justify-content: flex-start;
			//flex-shrink: 1;
			
			font-size: 0.8em;
			line-height: 3.625em;
			color: #fffefe;
			
			font-weight: 400;
			//text-align: right;
			
			
			
			.menu {
			//	align-self: stretch;			
			//	margin: 0 auto;
				display: flex;
				justify-content: stretch; //space-between
				align-content: flex-start;
				//padding-left: 2.5em;
				

			
				li {
					//display: inline;
					//padding: -1em;
					padding-right: 1.5em;
				}
			}
		}
	}
	
	.header-bottom{
		//background-color: yellow;
		@include set-vw;
		
		display: flex;
		justify-content: left;
		
		margin: 0 auto;
		padding-top: 3.75em;
		
		//align-items: flex-end;	
		///min-height: 50vh;				
		//padding-bottom: 3.75em;		
		//overflow: hidden;
		
		&-message {
			width: 50vw;
			//max-width: 500px;
			//height: 60vh;		
			//background-color: red;	
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 2em;
			justify-content: left;	
			
			//width: 479px;
			//height: 314px;
			
			
			
			
			&-info {
				text-transform: uppercase;
				color: $blue;
				font-size: 0.875em;
				letter-spacing: 1px;
				line-height: 3em;
				
				font-family: "Source Sans Pro";
				font-weight: 700;
			}
			
			h1 {
				font-size: 3em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
			
			p {
				padding-bottom: 1em;
				color: $grey;
				font-size: 1.125;
			}
			.btn {
				border: 0;
				text-transform: uppercase;
				font-size: 0.7em;
				
				@include border-radius(0.2em);
				margin-top: 4em;
				background-color: inherit;
				color: white;
				//border: 1px solid white;
				//padding: 1em 2em 1em 2em;
				
				width: 12em;
				height: 3.125em;
				box-shadow: 0 0 3px rgba(3,3,3,0.1);
				margin-right: 1em;

			}
			.btn--blue {
				background-color: $blue;
			}
			.btn--shadow {
				border: 1px solid rgba(255,255,255,0.2);
			}
		}
		
		&-photo {
			//flex-grow: 2;
			//height: 80vh;
			//display: flex;
			//align-items: flex-end;
			//justify-content: left;
			
			//top: 2em;
			//width: 50vw;
			///height: 60vh;
			
			//min-width: 100px;			
			//background-color: yellow;
			
			position: relative;
			left: -5em;
			overflow: hidden;	
			
		
			&-frame {
				//position: relative;
				//right: 15em;
				//bottom: -5em;
				//margin-top: 1em;
				//position: absolute;
				//left: -5em;
				//bottom: -5em;
				
				width: 50vw;
				height: 30em;
				//background-image: url('../img/photo.png');
				background-image: url('../img/devices.png');
				background-position: right top;
				/*-ms-background-size: cover;
				-o-background-size: cover;
				-moz-background-size: cover;
				-webkit-background-size: cover;
				background-size: cover;*/
				background-size: 185%;
				background-repeat: no-repeat;
				z-index: 10;
			}
		
	
	
			&__img {
			/*
				align-items: flex-end;
				justify-content: left;
				width: 100%;
				//height: 100%;
				position: absolute;
				left: 0;
				bottom: -3.5em;
				//top: 10em;
				//left: -5em;
				//right: 0em;
				align-self: flex-end;
				max-height: 80vh;
				
				margin: 0 auto;
				*/
		
			}
		
		}
	}
	
  
} 