.header{
	font-size: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	//height: 100vh;//36em;
	color: white;	
	overflow: hidden;
	background: linear-gradient(-45deg, rgba(22,21,26,0.9) 0%, rgba(0,0,0,1) 100%);		
	
	&::after {
		content: '';
		background-image: url('../img/photo.png');
		background-position: center center;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;


		background-attachment: fixed;
		opacity: 0.8;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 1;  
	}
	

	
	&-top {
		@include set-vw;
		
		z-index: 100;
		height: 5em;
		display: flex;
		align-items: center;
		justify-content: center;	
		
		
		@include set-mediaquery-size($tablet-landscape){
            flex-direction: column;
            align-items: left;
        }
		
		
		&-scrolled {
			position: fixed;
			background-color: $header3;
			width: 100%;
			transition: all .7s ease 0s;
			height: 4em;
		}
		
		&-logo {			
			flex-grow: 1;
			
		}
		
		&-nav {			
			
			justify-content: flex-start;
			font-size: 1em;
			font-weight: 600;
			line-height: 3.625em;
			color: #fff;
			
			font-weight: 400;
			//text-align: right;
			
            @include set-mediaquery-size($tablet-landscape){
                font-size: 0.825em;
                        
            }
			
			.menu {
			
				display: flex;
				justify-content: stretch; //space-between
				align-content: flex-start;
				
				
				li {
				    margin-right: 2em;
					
				}
				.active {
					border-bottom: 2px solid $blue;
				}
			}
		}
	}
	
	.header-bottom{		
		@include set-vw;
		position: relative;
		display: flex;
		justify-content: left;
		
		margin: 0 auto;
		padding-top: 3.75em;
		overflow: hidden;	
		//min-height: 65vh;
		
		&-message {
			width: 42vw;
				
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 0em;
			justify-content: left;	
						
			
			h1 {
				
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
			
		
			
		}
		
		&-photo {			
			
			z-index: 100;
			overflow: hidden;	
			margin-left: -9em;
            
            @include set-mediaquery-size($tablet-landscape){
                margin-left: -2em;
                        
            }
            
		
			&-frame {				
				width: 60vw;
				height: 30em;
				
				background-image: url('../img/devices kopia.png');
				background-position: right top;
				//background-size: cover;
				background-size: 160%;
				background-repeat: no-repeat;
				z-index: 10;
			}
		
		
		}
	}
	
  
} 