.header{
	background-image: url('../img/photo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100px;
	background-color: green;
	font-size: 5*$radius;
	
} 