/* WEBSITE MODULES: HEADER FOOTER */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
*/
/* basic colors */
/* media queries */
.header {
  font-size: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #16151a 0%, black 100%); }
  .header::after {
    content: '';
    background-image: url("../img/photo.png");
    background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1; }
  .header .header-top {
    width: 83.75vw;
    margin-left: 8.125vw;
    margin-right: 8.125vw;
    z-index: 100;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .header-top-scrolled {
      position: fixed;
      background-color: #1a1a1a;
      width: 100%;
      transition: all .7s ease 0s;
      height: 4em; }
    .header .header-top .header-top-logo {
      flex-grow: 1; }
    .header .header-top-nav {
      justify-content: flex-start;
      font-size: 1em;
      font-weight: 600;
      line-height: 3.625em;
      color: #fff;
      font-weight: 400; }
      .header .header-top-nav .menu {
        display: flex;
        justify-content: stretch;
        align-content: flex-start; }
        .header .header-top-nav .menu li {
          margin-right: 2em; }
        .header .header-top-nav .menu .active {
          border-bottom: 2px solid #008ed6; }
  .header .header-bottom {
    width: 83.75vw;
    margin-left: 8.125vw;
    margin-right: 8.125vw;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    padding-top: 3.75em;
    overflow: hidden; }
    .header .header-bottom-message {
      width: 42vw;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 0em;
      justify-content: left; }
      .header .header-bottom-message h1 {
        padding-top: 0.5em;
        padding-bottom: 0.5em; }
    .header .header-bottom-photo {
      position: relative;
      z-index: 100;
      overflow: hidden; }
      .header .header-bottom-photo-frame {
        width: 55vw;
        height: 32em;
        background-image: url("../img/devices kopia.png");
        background-position: right top;
        background-size: 200%;
        background-repeat: no-repeat;
        z-index: 10; }

.main-features {
  width: 83.75vw;
  margin-left: 8.125vw;
  margin-right: 8.125vw;
  display: block;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  text-align: center;
  margin: 0 auto; }
  .main-features .breakline {
    margin: 0 auto; }
  .main-features-boxes {
    margin-top: 3em;
    padding-top: 1em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*			
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		*/
    text-align: center; }
    .main-features-boxes-flex-item {
      padding: 0 1.5em;
      max-width: 20vw; }
      .main-features-boxes-flex-item-icon {
        max-width: 5.5em;
        height: 5.5em;
        border-radius: 2.75em;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }

.main-about-long {
  width: 83.75vw;
  margin-left: 8.125vw;
  margin-right: 8.125vw;
  display: flex;
  justify-content: stretch;
  padding-top: 2em;
  padding-bottom: 2em; }
  .main-about-long-left {
    width: 50vw;
    height: 35em;
    background-image: url("../img/devices.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10; }
  .main-about-long-right {
    width: 50vw;
    padding-top: 1em;
    padding-right: 2em;
    position: relative;
    text-align: left; }
    .main-about-long-right-list {
      list-style: none;
      padding-bottom: 2em; }
      .main-about-long-right-list li {
        padding: 0.5em;
        margin-left: 2em; }
        .main-about-long-right-list li::before {
          content: '';
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          width: 1em;
          height: 1em;
          margin-left: -2em; }
      .main-about-long-right-list--1::before {
        background-image: url("../img/Cup.png"); }
      .main-about-long-right-list--2::before {
        background-image: url("../img/Mouse.png"); }
      .main-about-long-right-list--3::before {
        background-image: url("../img/Energy.png"); }
      .main-about-long-right-list--4::before {
        background-image: url("../img/Speedometer.png"); }

.main-about-short {
  background-color: #f2f2f2;
  padding-top: 2em;
  padding-bottom: 2em; }
  .main-about-short-wrapper {
    width: 83.75vw;
    margin-left: 8.125vw;
    margin-right: 8.125vw;
    display: flex;
    justify-content: stretch;
    padding-top: 2em; }
  .main-about-short-left {
    width: 50vw;
    padding-top: 1em;
    padding-right: 2em;
    position: relative;
    text-align: left; }
  .main-about-short-right {
    width: 50vw;
    height: 25em;
    background-image: url("../img/iPhone 5.png");
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10; }

.main-testimonials {
  background-color: #15141a;
  background-image: url("../img/Warstwa 8.png");
  min-height: 40em;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  color: white; }
  .main-testimonials h2 {
    color: white; }
  .main-testimonials-wrapper {
    width: 83.75vw;
    margin-left: 8.125vw;
    margin-right: 8.125vw; }
  .main-testimonials .main-testimonials-slider {
    display: flex;
    justify-content: stretch;
    padding-top: 3em;
    text-align: left; }
    .main-testimonials .main-testimonials-slider p {
      color: white;
      font-style: italic;
      font-weight: 400;
      font-size: 1.5em; }
    .main-testimonials .main-testimonials-slider-left {
      width: 50vw;
      padding: 1.1em; }
    .main-testimonials .main-testimonials-slider-right {
      padding: 1.1em;
      width: 50vw; }
    .main-testimonials .main-testimonials-slider-pagination {
      text-align: center;
      margin: 0 auto;
      margin-top: 6em;
      display: flex;
      JUSTIFY-CONTENT: center;
      ALIGN-ITEMS: center; }
      .main-testimonials .main-testimonials-slider-pagination-dot {
        width: 0.44em;
        height: 0.44em;
        border-radius: 0.19em;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin: 1.25em; }
        .main-testimonials .main-testimonials-slider-pagination-dot-active {
          width: 0.875em;
          height: 0.875em;
          border-radius: 0.44em;
          background-color: #ffffff;
          margin: 1em; }
    .main-testimonials .main-testimonials-slider-box {
      display: flex;
      align-items: center;
      padding-left: 0em; }
      .main-testimonials .main-testimonials-slider-box-author {
        padding-left: 1.5em; }
        .main-testimonials .main-testimonials-slider-box-author__name {
          width: 100%;
          display: block;
          font-size: 1em; }
        .main-testimonials .main-testimonials-slider-box-author__position {
          font-size: 0.875em;
          font-weight: 700;
          text-transform: uppercase; }
      .main-testimonials .main-testimonials-slider-box__img {
        width: 3.69em;
        height: 3.69em;
        border-radius: 1.81em; }

.main-eye-catcher {
  background-color: #15141a;
  text-align: center;
  padding-top: 4.375em;
  padding-bottom: 4.375em; }
  .main-eye-catcher h2 {
    color: white; }

.pricing-plans {
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  text-align: center; }
  .pricing-plans-wrapper {
    width: 83.75vw;
    margin-left: 8.125vw;
    margin-right: 8.125vw; }
  .pricing-plans-table {
    padding-top: 3.125em;
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media (max-width: 900px) {
      .pricing-plans-table {
        flex-direction: column; } }
    .pricing-plans-table-col {
      width: 24vw;
      margin: 1em;
      align-items: center;
      border: 1px solid rgba(3, 3, 3, 0.1); }
      @media (max-width: 900px) {
        .pricing-plans-table-col {
          width: 90%;
          margin: 0em; } }
      .pricing-plans-table-col:hover .pricing-plans-table-col-price {
        background-color: #008ed6; }
        .pricing-plans-table-col:hover .pricing-plans-table-col-price h4 {
          color: white; }
        .pricing-plans-table-col:hover .pricing-plans-table-col-price .per-month {
          color: white; }
      .pricing-plans-table-col:hover .btn {
        font-size: inherit;
        font-weight: inherit;
        color: white;
        background-color: #008ed6; }
      .pricing-plans-table-col-header {
        color: #15141a;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 700;
        padding: 1em;
        align-items: center;
        border-bottom: 1px solid rgba(3, 3, 3, 0.1); }
        .pricing-plans-table-col-header--active {
          color: #008ed6; }
      .pricing-plans-table-col-price {
        max-height: 9.375em;
        width: 100%;
        align-items: center;
        font-weight: 600;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid rgba(3, 3, 3, 0.1); }
        .pricing-plans-table-col-price h4 {
          font-size: 3.75em;
          position: relative; }
          .pricing-plans-table-col-price h4 .dolar {
            font-size: 0.56em;
            position: absolute;
            top: 0.05em;
            left: 2.2em; }
        .pricing-plans-table-col-price--active {
          background-color: #008ed6;
          color: white; }
          .pricing-plans-table-col-price--active .per-month {
            color: white; }
        .pricing-plans-table-col-price .per-month {
          font-size: 1.125em;
          color: #999; }
          .pricing-plans-table-col-price .per-month--active {
            color: white; }
      .pricing-plans-table-col-body {
        max-height: 16.25em;
        align-items: center;
        font-weight: 400;
        padding-bottom: 2.5em; }
        .pricing-plans-table-col-body p {
          font-size: 1.125em;
          color: #999;
          padding: 2.5em 1.25em; }
        .pricing-plans-table-col-body .btn {
          color: #008ed6;
          font-size: 1em;
          font-weight: 400;
          margin: 0 auto; }
          .pricing-plans-table-col-body .btn--blue {
            font-size: inherit;
            font-weight: inherit;
            color: white; }

.contact {
  background-color: #ededed;
  text-align: center;
  padding-top: 3.75em;
  margin: 0 auto; }
  .contact-table {
    display: flex;
    align-items: stretch;
    padding-top: 2.5em;
    justify-content: center;
    margin-bottom: 1em; }
    .contact-table-col {
      width: 25vw;
      padding-left: 6em;
      padding-right: 6em;
      align-items: stretch;
      height: 100%; }
      @media (max-width: 900px) {
        .contact-table-col {
          width: 90%;
          padding-left: 2em;
          padding-right: 2em; } }
  .contact-wrapper {
    width: 50%;
    margin: 0 auto;
    background-color: #15141a;
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto; }
    @media (max-width: 900px) {
      .contact-wrapper {
        width: 90%; } }
    .contact-wrapper-form {
      width: 100%;
      min-height: 35vh;
      padding: 2.5em; }
      .contact-wrapper-form-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 1em; }
        @media (max-width: 900px) {
          .contact-wrapper-form-row {
            flex-direction: column; } }
        .contact-wrapper-form-row-left {
          width: 45%;
          flex-direction: row; }
          @media (max-width: 900px) {
            .contact-wrapper-form-row-left {
              width: 100%; } }
          .contact-wrapper-form-row-left input {
            padding: 0.5em;
            margin: 0.2em;
            height: 3.125em;
            width: 98%;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #15141a;
            text-transform: uppercase;
            color: white; }
        .contact-wrapper-form-row-right {
          flex-direction: row;
          width: 45%;
          flex: 1; }
          @media (max-width: 900px) {
            .contact-wrapper-form-row-right {
              width: 100%; } }
          .contact-wrapper-form-row-right textarea {
            flex: 1;
            width: 98%;
            height: 97%;
            margin: 0.2em;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            font-family: inherit;
            background-color: #15141a;
            text-transform: uppercase;
            padding: 0.5em;
            color: white; }
          .contact-wrapper-form-row-right .btn {
            margin: 1em; }
      .contact-wrapper-form::-webkit-input-placeholder {
        color: white; }
      .contact-wrapper-form ::-moz-placeholder {
        color: white; }
      .contact-wrapper-form :-ms-input-placeholder {
        color: white; }
      .contact-wrapper-form :-moz-placeholder {
        color: white; }
  .contact-map {
    min-height: 25em;
    background-color: #666; }

/*
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
*/
.footer {
  background-color: #15141a;
  min-height: 10em;
  text-align: center;
  text-transform: uppercase;
  color: #444348;
  font-weight: 700;
  font-size: 0.875em;
  padding-top: 3em; }
  .footer-social-icons li {
    display: inline;
    padding-right: 2em; }
    .footer-social-icons li .svg-icon {
      width: 1.2em;
      height: 1.2em;
      fill: #444348; }
      .footer-social-icons li .svg-icon:hover {
        fill: #337ab7; }
  .footer p {
    color: inherit; }

/* very basic styles */
* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #1a1a1a;
  padding-top: 0.2em;
  padding-bottom: 1em; }

h3 {
  font-size: 1.5em;
  padding-top: 1.5em; }

p {
  font-size: 1.125em;
  color: #999;
  padding-top: 1em;
  padding-bottom: 2em; }

.btn {
  border: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  border-radius: 0.2em;
  margin-top: 0em;
  background-color: inherit;
  color: white;
  width: 12em;
  height: 3.125em;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  margin-right: 1em; }

.btn--blue {
  background-color: #008ed6; }

.btn--shadow {
  border: 1px solid rgba(255, 255, 255, 0.2); }

.info {
  font-size: 0.875em;
  letter-spacing: 1px;
  line-height: 3em;
  color: #008ed6;
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-transform: uppercase; }

.breakline {
  position: relative; }
  .breakline:before {
    content: "\200D";
    background-color: #008ed6;
    width: 0.7em;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0; }
  .breakline:after {
    content: "\200D";
    background-color: #008ed6;
    width: 0.7em;
    height: 2px;
    position: absolute;
    left: 0.8em;
    right: 0; }

.pull-right {
  text-align: right; }
